body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* Barre de navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e4fa3;
  color: white;
  padding: 15px 30px;
  animation: floatNavbar 3s ease-in-out infinite;
}

.logo {
  margin: 0;
  font-size: 24px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
}

.menu li:hover {
  background: #3f6ed6;
}

.menu li.active {
  background: #2552a0;
}

/* Container */
.container {
  padding: 30px;
}

/* Galerie */
.gallery {
  display: none;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery.active {
  display: flex;
}

/* Images */
.gallery img {
  width: 200px;
  height: auto;          /* permet de voir la photo entière */
  object-fit: contain;   /* empêche de couper l'image */
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Overlay plein écran */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#overlay img {
  max-width: 90%;
  max-height: 90%;
}

/* Slider */

.slider {
  position: relative;
  width: 600px;
  margin: auto;
}

.slide {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.slide.active {
  display: block;
}

.rating-box {
  text-align: center;
  margin-top: 50px;
}

.rating-buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: #1e4fa3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.rating-buttons button:hover {
  background: #3f6ed6;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("taglit/photo9.jpg"); /* image de fond */
  background-size: cover;       /* couvre toute la page */
  background-position: center;  /* centre l'image */
  background-repeat: no-repeat; /* évite la répétition */
  background-attachment: fixed; /* effet fond fixe */
}
